body {
  --slack-color: #3f0f40;
  overflow: hidden;
}

.app-body {
  display: flex;
  height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff var(--slack-color);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--slack-color);
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
}
